<div class="card my-5" style="width: 80%; margin: 0 auto; background-color: rgb(206, 16, 16);">
    <div class="card-body">
        <h2 class="text-center" style="color: rgb(54, 30, 185)"> Watch the Types </h2><br>
        <table class="table table-bordered table-striped">
            <thead class="thead-black">
                <tr style="color: rgb(54, 30, 185); font-weight: bold;">
                    <th style="cursor: pointer;" [appSort]="types" data-order="desc" data-name="id" scope="col">ID</th>
                    <th style="cursor: pointer;" [appSort]="types" data-order="desc" data-name="type" scope="col">Type
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let type of types let i = index">
                    <td style="color: white; text-align: center;">{{ type.id }}</td>
                    <td style="color: white; text-align: center;">{{ type.type }}</td>
                    <td style="text-align: center;">
                        <button type="button" routerLink="../addusertype/{{type.id}}"
                            class="btn btn-success">Edit</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" (click)="remove(i)" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center" style="color: rgb(12, 252, 4); font-size: 3rem;">{{ message }}</div>